
      </div>
      <div class="span-24 last">
        <hr />
        mtweet is a simple twitter clone that uses
        the <a href="http://www.membase.org">Membase database</a>.
        Thanks to <a href="http://github.com/danlucraft/retwis-rb">retwis-rb</a>
        for the original fork source.
      </div>
    </div>
  </body>
</html>
